
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #e0e0e0;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 8px; 
    background: #e8e8e8;
}

.form label {
    margin: 10px 0px;
}

.formButton{
    width: 40%;
    margin: 10px 0px;
    border: solid #636363 1px;
    border-radius: 3px;
    padding: 3px;
}
