.input {
    margin: 10px;
    padding: 5px;
    color: #242323;
    border: 1px solid #d1d1d1;
    width: 90%;
}

.input::placeholder{
    color: #454545;
    opacity: 1;
    padding: 3px;
}

.select {
    margin: 10px;
    width: 90%;
}

.checkbox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.checkbox input {
    padding: 0;
    margin: 10px;
}

.checkbox label{
    margin:0;
}