*{
    box-sizing: border-box;
}

.header{
    height: 50px;
    background-color: #303030;
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.title h1 {
    margin:0;
    color: azure;
    
}