.mainDetails{
    display: flex;
    flex-direction: column;
}

.bodyContent{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    width: 80%;
    height: 50px;
    border: 1px solid #ddd;

}


